.container{
  padding: 0 40px;
  h2{
    text-align: center;
    font-style: italic;
  }

  .form-cont{
    width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input,button{
      padding: 10px;
    }
    button{
      cursor: pointer;
      background-color: aquamarine;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }
  .login{
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      display: block;
      margin: auto;
      color: blue;
  }
}
